@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: #e3f2fd !important;

}



/*.navbar-brand {

font-size: 3rem;

}



*/
h1 {

color: green;

}

.search-area {
    padding-top: 50px;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}
